/* General Styles */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

h1,
h2 {
    font-family: 'Cormorant Garamond', serif;
}

h3,
h4,
h5 {
    font-family: 'Hind Vadodara', sans-serif;
}

.space {
    margin-left: .5rem;
}

#userInput {
    padding: 1rem;
    line-height: 1.75rem;
    background-color: white;
    border-radius: 10px;
}

#results {
    grid-area: results;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.list-group-item {
    padding: .25rem 1rem;
}

.card {
    width: 15rem;
    margin: 1rem;
    height: fit-content;
}

.ml {
    margin-left: 1rem;
}

.mr {
    margin-right: 3rem;
}

#hero {
    background-image: url("./assets/images/books_415x247.jpg");
    background-repeat: repeat-x;
    background-blend-mode: lighten;
    padding: 1rem;
    margin-top: 1rem;
    height: 250px;
    width: 100%;
}

#userInput {
    position: relative;
    top: 2.7rem;
}

#bookUserId {
    width: 90%;
    margin-right: 1rem;
}

@media screen and (min-width: 780px) {
    #hero {
        background-image: url("./assets/images/books_780x465.jpg")
    }

    #bookUserId {
        width: 95%;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    #hero {
        background-image: url("./assets/images/books_1200x715.jpg")
    }
}

@media screen and (min-width: 1900px) {
    #hero {
        background-image: url("./assets/images/books_1900x1132.jpg")
    }
}
